@import 'admins/base';
@import 'events/base';

.Admin {
  .pusher {
    padding-top: 80px;
  }

  th.sorted.ascending:after {
  	content: " \2191";
  }

  th.sorted.descending:after {
  	content: " \2193";
  }
}
