&.attends {
  &.new {
    .add_fields {
      margin-top: 50px;
    }

    .attending-member-name {
      margin-right: 10px;
    }

    .attend-true {
      height: 110px;
      margin-bottom: 20px;

      > .ui.segment {
        overflow: hidden;
      }
    }
  }
}
